body{
  background-color: #c1e7e8;
}
#errorui{
  background-color: white;
  background: radial-gradient(circle, rgba(215,214,215,1) 0%, rgba(180,180,180,1) 100%);
  border-style: solid;
  border-color: blue;
  border-radius: 20px;
}
#error{
  color: red;
}
#errormessageui{
  background-color: white;
  background: radial-gradient(circle, rgba(215,214,215,1) 0%, rgba(180,180,180,1) 100%);
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}
#errormessage{
  text-align: center;
}
#credits{
  background-color: white;
  border-radius: 80px;
  justify-content: center;
}
